<mat-toolbar class="mat-elevation-z6" color="primary">
  <mat-icon routerLink="/">theaters</mat-icon>
  <button mat-button class="nav-button" routerLink="/promocao">Promoções</button>
  <button mat-button class="nav-button" routerLink="/teatro">Teatros</button>
  <button mat-button class="nav-button" routerLink="/site">Sites</button>
  <span class="spacer"></span>
  <button mat-button class="nav-button" routerLink="/login" *ngIf="!loggedIn()">Entrar</button>
  <span class="nav-username" *ngIf="loggedIn()">Olá {{ getUsername() }}</span>
  <button mat-button class="nav-button" (click)="logout()" *ngIf="loggedIn()">Sair</button>
</mat-toolbar>