<div class="common-card-container">
  <mat-card class="common-card">
    <mat-card-header>
      <mat-card-title>
        Detalhes do Site
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="siteForm">
      <mat-card-content class="common-card-content">
        <mat-form-field class="common-field">
          <input matInput formControlName="name" placeholder="Nome">
        </mat-form-field>
        <mat-form-field class="common-field">
          <input matInput formControlName="url" placeholder="URL">
        </mat-form-field>
        <mat-form-field class="common-field">
          <input matInput formControlName="phone" placeholder="Telefone">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="common-card-actions">
          <button mat-raised-button type="submit" color="primary" (click)="update()">Atualizar</button>
          <button mat-button color="warn" (click)="delete()">Apagar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>